@import '../../assets/styles/global.scss';

.bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    column-gap: 10px;

    @include desktop {
        flex-direction: row;
    }

    .avatar {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__img {
            width: 300px;
            height: 300px;

            &--border {
                width: 300px;
                font-family: 'Marck Script', cursive;
                height: 30px;
            }
        }

        &__stars {
            width: 100px;
            margin-top: 10px;
            transform: rotate(180deg);
        }
    }

    .info {
        max-width: 80vw;
        border-left: 0;
        padding: 2rem 1rem 1rem 1rem;
        text-align: center;

        @include desktop {
            border-bottom: 0;
            max-width: 36vw;
            text-align: initial;
        }

        &__title {
            font-family: 'Berkshire Swash', cursive;
            font-size: 2rem;
            line-height: 0;

            @include desktop {
                font-size: 3rem;
            }
        }

        &__list {
            padding: 12px 0 0 12px;
            font-size: 1.25rem;
            display: flex;
            flex-direction: column;
            row-gap: 12px;

            @include desktop {
                padding: 12px 0 0 12px;
            }

            .list {
                &__item {
                    font-family: 'Montserrat Alternates', sans-serif;
                    line-height: 32px;
                }

                &__emoji {
                    width: 15px;
                }
            }
        }
        p {
            font-family: 'Kanit', sans-serif;

            &.open {
                font-size: 2rem;
                text-transform: uppercase;
                color: #8ac926;
                text-align: center;
                animation: animate 
                    1.5s linear infinite;
                font-family: 'Stick No Bills', sans-serif;
                text-shadow: 0 0 0.125em rgba(0, 0, 0, 0.5), 0 0 0.25em currentColor;
            }

            @keyframes animate {
                0% {
                    opacity: 0;
                }
      
                50% {
                    opacity: 0.7;
                }
      
                100% {
                    opacity: 0;
                }
            }
        }

    }
}