@import '../../assets/styles/global.scss';

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-bottom: 32px;
    column-gap: 14px;

    @include desktop {
        margin: 0 42px;
        justify-content: end;
        column-gap: 52px;
        margin-bottom: 62px;
    }

    &__menu {
        display: flex;
        column-gap: 14px;

        @include desktop {
            column-gap: 48px;
        }

        li {
            list-style: none;
            font-family: 'Kurale', serif;
            font-weight: bolder;
            font-size: 1.25rem;

                @include desktop {
                    column-gap: 48px;
                    font-size: 1.5rem;
                }

            a {
                text-decoration: none;
            }
        }
    }

    &__switch {
        .switch {
            visibility: hidden;

            + label {
                display: block;
                position: relative;
                cursor: pointer;
                outline: none;
                user-select: none;
            }
        }

        .switch--shadow + label {
            padding: 2px;
            width: 46px;
            height: 24px;
            background-color: #dddddd;
            border-radius: 60px;
        
            &:before,
            &:after {
                display: block;
                position: absolute;
                top: 1px;
                left: 1px;
                bottom: 1px;
                content: '';
            }
    
            &:before {
                right: 1px;
                background: radial-gradient(circle,#d5d5d5 0,#231942 100%);
                border-radius: 60px;
                transition: all 0.4s;
            }

            &:after {
                width: 26px;
                border-radius: 100%;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
                transition: all 0.4s;
                background-image: url("../../assets/images/switch-moon.png");
                background-repeat: no-repeat;
            }
        } 

        .switch--shadow:checked+label:before {
            background: radial-gradient(circle,#ffffff 0,#a8ebfb 100%);
        }

        .switch--shadow:checked+label:after {
            transform: translateX(22px);
            background-image: url("../../assets/images/switch-sun.png");
        }
    }  
}