@import './variables.scss';
@import './reset.scss';

body {
    background-color: $bg-dark;

    .navbar .navbar__menu li a {
        color: $purple;

        &:hover {
            color: white;
        }
    }

    &.light-theme {
        background-color: $bg-light;

        .navbar .navbar__menu li a {
            color: $purple;
    
            &:hover {
                color: black;
            }
        }
    }
}