@import './variables.scss';
@import './reset.scss';

body {
    background-color: $bg-dark;

    .navbar .navbar__menu li a {
        color: $purple;

        &:hover {
            color: white;
        }
    }

    .bio {
        .avatar__img, .avatar__img--border {
            border: 5px solid $white;
            background-color: $white;
        }
    }

    .info {
        &__title {
            color: white;
        }
    }

    .list {
        &__item {
            color: white;
        }
    }

    &.light-theme {
        background-color: $bg-light;

        .navbar .navbar__menu li a {
            color: $dark;
    
            &:hover {
                color: #985277;
            }
        }

        // .bio {
        //     .avatar__img, .avatar__img--border {
        //         border: 5px solid $purple;
        //         background-color: $purple;
        //     }
        // }

        .info {
            &__title {
                color: $dark;
            }
        }

        .list {
            &__item {
                color: $dark;
            }
        }
    }
}