//fonts
@import url('https://fonts.googleapis.com/css2?family=Artifika&family=Berkshire+Swash&family=Kanit:wght@100;200;300;400&family=Kurale&family=Marck+Script&family=Montserrat+Alternates:wght@300;400&family=Mukta:wght@300;500&family=Pacifico&family=Signika+Negative:wght@300;400;500&family=Stick+No+Bills:wght@300&display=swap');

// Pallete
$light: #9a8c98;
$dark: #252422;
$yellow: #FADB5E;
$pink: #FB6F92;
$purple: #9f86c0;
$gray: #DDDDDD;
$night-blue: #231942;
$day-blue: #A8EBFB;
$white: #FFFFFF;

// Variables Colors Dark Theme
$bg-dark: $dark;

// Variables Colors Light Theme
$bg-light: $light;

// Medias
$breakpoint-mobile: 456px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

@mixin tablet {
    @media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktop}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$breakpoint-desktop}) {
        @content;
    }
}

